.generate-btn-container {
  background-color: #87ceeb;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 2rem;
  border: 2px solid black;
  height: 60px;
  width: 60px;
  display: flex;

  align-items: center;
  justify-content: center;
}
ion-segment {
  margin-top: 10px;
  /* --background: #87ceeb; */
}
.edit-btn {
  border: none; /* Remove border */
  background: white;
  color: black;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 1rem;
  box-shadow: 2px 8px 0px #44819e;
  border: 2px solid black;
  height: 40px;
  transition: border 0.3s ease, box-shadow 0.3s ease; /* Add smooth transition */
}

.edit-btn:active {
  transform: translateY(5px);
  box-shadow: none;
}
ion-checkbox {
  margin: 0;
  padding: 0;
}

ion-checkbox::part(container) {
  margin: 0;
  padding: 0;
}
.take-quiz-btn-container {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 50%; /* Makes the container a circle */
  border: 2px solid black;
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.take-quiz-btn-container:disabled {
  background-color: gray;
}
/* Mini button style with scaling and border */
.mini-btn {
  transform: scale(0.9);
  width: 60px;
  height: 60px;
  border: 2px solid black;
  border-radius: 50%; /* Makes the mini button a circle */
  color: white; /* Ensures text color is white */
}

/* Ensure text within mini-btn is white */
.mini-btn > div {
  color: white;
}

/* View Note Button */
.view-note-btn {
  border: none; /* Remove border */
  background: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center; /* Center text horizontally */
  padding: 5px;
  border-radius: 1rem;
  box-shadow: 2px 8px 0px #d8a7c7;
  border: 2px solid black;
  height: 40px;
  transition: border 0.3s ease, box-shadow 0.3s ease; /* Add smooth transition */
  font-size: 1.2rem;
  flex: 1;
}

.view-note-btn:active {
  transform: translateY(5px);
  box-shadow: none;
}

/* Add Questions Button */
.add-question-btn {
  flex: 1;
  border: none; /* Remove border */
  background: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center; /* Center text horizontally */
  padding: 5px;
  border-radius: 1rem;
  box-shadow: 2px 8px 0px #d98f56;
  border: 2px solid black;
  height: 40px;
  transition: border 0.3s ease, box-shadow 0.3s ease; /* Add smooth transition */
  font-size: 1.2rem;
}

.add-question-btn:active {
  transform: translateY(5px);
  box-shadow: none;
}
.add-question-btn:disabled {
  box-shadow: none;
  transition: none;
  transform: none;
  color: gray;
  border: 2px solid gray;
}

/* Mini button style with scaling and border */
.cancel-mini-btn {
  background-color: #87ceeb;

  transform: scale(0.9);
  width: 60px;
  height: 60px;
  border: 2px solid black;
  border-radius: 50%; /* Makes the mini button a circle */
  color: white; /* Ensures text color is white */
  background-color: #ac4830;
}

/* Ensure text within mini-btn is white */
.cancel-mini-btn > div {
  color: white;
}
/* View Note Button */
.regen-btn {
  border: none; /* Remove border */
  background: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center; /* Center text horizontally */
  padding: 5px;
  border-radius: 1rem;
  box-shadow: 2px 8px 0px #44819e;
  border: 2px solid black;
  height: 40px;
  transition: border 0.3s ease, box-shadow 0.3s ease; /* Add smooth transition */
  font-size: 1.2rem;
  flex: 1;
}

.regen-btn:active {
  transform: translateY(5px);
  box-shadow: none;
}
.regen-btn:disabled {
  box-shadow: none;
  transition: none;
  transform: none;
  color: gray;
  border: 2px solid gray;
}
.rubric-btn {
  margin-bottom: 20px;
  width: 100%;
  border: none; /* Remove border */
  background: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center; /* Center text horizontally */
  padding: 5px;
  border-radius: 1rem;
  box-shadow: 2px 8px 0px #9e7c5e;
  border: 2px solid black;
  height: 40px;
  transition: border 0.3s ease, box-shadow 0.3s ease; /* Add smooth transition */
  font-size: 1.2rem;
  flex: 1;
}

.rubric-btn:active {
  transform: translateY(5px);
  box-shadow: none;
}
.add-rubric-btn {
  margin-bottom: 20px;
  width: 100%;
  border: none; /* Remove border */
  background: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center; /* Center text horizontally */
  padding: 5px;
  border-radius: 1rem;
  box-shadow: 2px 8px 0px #47926b;
  border: 2px solid black;
  height: 40px;
  transition: border 0.3s ease, box-shadow 0.3s ease; /* Add smooth transition */
  font-size: 1.2rem;
  flex: 1;
}

.add-rubric-btn:active {
  transform: translateY(5px);
  box-shadow: none;
}
