/* App.css */

.input-box {
  border: none; /* Remove border */
  background: none; /* Remove background */
  outline: none; /* Remove outline on focus */
  box-shadow: none; /* Remove shadow */
  color: #000; /* Text color */
  width: 100%; /* Make input take full width */
  padding: 10px; /* Padding inside the input */
  font-size: 20px; /* Font size inside input */
  border: 2px solid black;
  border-radius: 2rem;
  transition: border 0.3s ease, box-shadow 0.3s ease; /* Add smooth transition */

  box-shadow: 6px 8px 0px #87ceeb;
}

.input-box:focus {
  border: 2px solid #87ceeb;
  transform: translateY(5px);

  box-shadow: none;
}
.quiz-description-input {
  border: none; /* Remove border */
  background: none; /* Remove background */
  outline: none; /* Remove outline on focus */
  box-shadow: none; /* Remove shadow */
  font-size: 16px; /* Font size inside input */
  width: 100%; /* Make input take full width */
  padding: 12px; /* Padding inside the input */
  border: 2px solid black;
  box-shadow: 6px 8px 0px #87ceeb;
  transition: border 0.3s ease, box-shadow 0.3s ease; /* Add smooth transition */

  border-radius: 2rem;
}
.quiz-description-input:focus {
  border: 2px solid #87ceeb;
  transform: translateY(5px);

  box-shadow: none;
}

.quiz-gen-choose-note-btn {
  font-size: 18px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  gap: 5px;
  margin-top: 8px;
  border: none; /* Remove border */
  background: white; /* Remove background */
  outline: none; /* Remove outline on focus */
  box-shadow: none; /* Remove shadow */
  color: black;
  height: 50px;
  border: 2px solid black;
  box-shadow: 6px 8px 0px #87ceeb;
  transition: border 0.3s ease, box-shadow 0.3s ease; /* Add smooth transition */
}

.quiz-gen-choose-note-btn:active {
  border: 2px solid #87ceeb;
  transform: translateY(5px);
  box-shadow: none;
  background: #87ceeb;
}
/* Disable all animations when the button is disabled */
.quiz-gen-generate-btn:disabled {
  background: #87ceeb; /* Disabled background */
  opacity: 0.6; /* Visual cue for disabled state */
  box-shadow: none;
  transition: none;
  transform: none;
}

/* Active state when button is not disabled */
.quiz-gen-generate-btn:active:not(:disabled) {
  border: 2px solid #87ceeb;
  transform: translateY(5px); /* Apply transform for active state */
  box-shadow: none;
  background: #87ceeb;
  transition: transform 0.3s ease; /* Allow transition for transform only in active state */
}

.quiz-gen-generate-btn {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  gap: 5px;
  margin-top: 18px;
  border: none; /* Remove border */
  outline: none; /* Remove outline on focus */
  box-shadow: none; /* Remove shadow */
  color: black;
  height: 50px;

  border: 2px solid black;
  background: linear-gradient(to right, #87ceeb, #e0ac08);
  transition: border 0.3s ease, box-shadow 0.3s ease,
    background 0.3s ease-in-out; /* Add smooth transition */
  box-shadow: 6px 8px black;
}
.quiz-gen-generate-btn:active {
  border: 2px solid #87ceeb;
  transform: translateY(5px);
  box-shadow: none;
  background: #87ceeb;
}
